<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970269844716-go6udgra4u87nqplmjqbvbk4pa817lgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970269844716-go6udgra4u87nqplmjqbvbk4pa817lgs</string>
	<key>API_KEY</key>
	<string>AIzaSyBgqxr70xfnN_NrdgcXYO4PX_bPbA9kBV0</string>
	<key>GCM_SENDER_ID</key>
	<string>970269844716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ananthkumar.eshop</string>
	<key>PROJECT_ID</key>
	<string>eshop-b8253</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-b8253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970269844716:ios:f3189cae79635a7d3371c9</string>
</dict>
</plist>